@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font: 400;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
}

  
body {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
    background: rgb(39, 39, 43);
    overflow: hidden;
}

li {
    list-style-type:  none;
}

.discord-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    position: relative;
    height: 650px;
    width: 700px;
    background: rgb(17, 18, 20);
    border-radius: 50px 50px 15px 15px;
}

.main-color {
    display: flex;
    position: relative;
    width: 850px;
    height: 200px;
    background: no-repeat url(photo/ladno.jpg);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.pod-ava {
    display: flex;
    position: relative;
    border-radius: 100px;
    height: 140px;
    width: 140px;
    top: 65px;
    background: rgb(17,18,20);
    left: 40px;
}

.ava {
    display: flex;
    position: relative;
    border-radius: 100px;
    height: 120px;
    width: 120px;
    top: 75px;
    right: 90px;
}

.nick {
    display: flex;
    position: relative;
    top: 190px;
    right: 210px;
    color: whitesmoke;
    font-weight: 750;
    font-size: x-large;
}


.nicks {
    display: flex;
    position: relative;
    top: 240px;
    right: 315px;
    color: aliceblue;
    font-weight: 750;
    font-size: medium;
}

.badges {
    display: flex;
    position: relative;
    height: 30px;
    width: 120px;
    top: 215px;
    right: 365px;
    border-radius: 5px;
    background: rgb(49,51,56);
}

.programmist {
    display: flex;
    position: absolute;
    top: 183px;
    height: 20px;
    width: 20px;
    left: 3px;
    margin: -179px 1px;
    background: none;
    border: 0;
    transform: scale(0.9);
    z-index: 2;
}

.programmist img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    image-rendering: optimizeQuality;
}

.programmist:hover {
    display: flex;
    position: absolute;
    background: none;
    border: 0;
    width: 21px;
    height: 21px;
    margin: -179px 1px;
    transform: scale(1);
    transition: all 0.3s;
}

.bravery {
    display: flex;
    position: absolute;
    top: 185px;
    height: 18px;
    width: 18px;
    left: 31px;
    margin: -179px 1px;
    background: none;
    border: 0;
    transform: scale(0.9);
}

.bravery img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    image-rendering: optimizeQuality;
}

.bravery:hover {
    display: flex;
    position: absolute;
    background: none;
    border: 0;
    width: 18px;
    height: 18px;
    margin: -179px 1px;
    transform: scale(1);
    transition: all 0.3s;
}

.html {
    display: flex;
    position: absolute;
    top: 185px;
    height: 18px;
    width: 18px;
    left: 60px;
    margin: -179px 1px;
    background: none;
    border: 0;
    transform: scale(0.9);
}

.html img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    image-rendering: optimizeQuality;
}

.html:hover {
    display: flex;
    position: absolute;
    background: none;
    border: 0;
    width: 18px;
    height: 18px;
    margin: -179px 1px;
    transform: scale(1);
    transition: all 0.3s;
}

.css {
    display: flex;
    position: absolute;
    top: 185px;
    height: 18px;
    width: 18px;
    left: 90px;
    margin: -179px 1px;
    background: none;
    border: 0;
    transform: scale(0.9);
}

.css img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    image-rendering: optimizeQuality;
}

.css:hover {
    display: flex;
    position: absolute;
    background: none;
    border: 0;
    width: 18px;
    height: 18px;
    margin: -179px 1px;
    transform: scale(1);
    transition: all 0.3s;
}

.main-xd {
    display: flex;
    position: absolute;
    height: 330px;
    width: 650px;
    background: rgb(40, 43, 43);
    top: 32ch;
    border-radius: 15px;
    left: 25px;
}

.text-igra {
    display: flex;
    position: absolute;
    color: rgb(132, 137, 145);
    left: 25px;
    top: 3px;
    font-weight: 700;
    font-size: smaller;
}

.igra {
    display: flex;
    position: absolute;
    height: 90px;
    top: 50px;
    left: 20px;
}

h1 {
    display: flex;
    position: absolute;
    top: 45px;
    left: 110px;
    color: rgb(102,110,123);
    font-weight: 600;
    font-size: small;
    
}

.ladn1 {
    display: flex;
    position: absolute;
    top: 60px;
    left: 110px;
    color: rgb(102,110,123);
    font-weight: 600;
    font-size: small;
}

.ladn2 {
    display: flex;
    position: absolute;
    top: 80px;
    left: 110px;
    color: rgb(102,110,123);
    font-weight: 600;
    font-size: small;
}

#ladn3 {
    display: flex;
    position: absolute;
    top: 113px;
    left: 110px;
    color: rgb(102,110,123);
    font-weight: 600;
    font-size: small;
}

#napishati {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    width: 170px;
    height: 40px;
    top: 200px;
    left: 502px;
    background: rgb(51, 54, 54);
    color: white;
    font-weight: 600;
}

#napishati:hover {
    background: rgb(86, 91, 99);
    cursor: pointer;
    transition: 0.5s;
}

.tooltip .tooltip-text-bottom {
    position: absolute;
    width: 140px;
    top: 30px;
    left: 15px;
    padding: 2px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    visibility: hidden;
    background: rgb(31, 31, 31);
}

.tooltip:hover .tooltip-text-bottom {
    visibility: visible;
}

.tooltip .tooltip-text-bottoms {
    position: absolute;
    width: 160px;
    top: 30px;
    left: 45px;
    padding: 2px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    visibility: hidden;
    background: rgb(31, 31, 31);
}

.tooltip:hover .tooltip-text-bottoms {
    visibility: visible;
}

.tooltip .tooltip-text-bottomss {
    width: 250px;
    font-size: 15px;
    background: rgb(31, 31, 31);
    color: white;
    padding: 2px;
    border: 1px solid white;
    position: absolute;
    top: 30px;
    left: 75px;
    visibility: hidden;
}

.tooltip:hover .tooltip-text-bottomss {
    visibility: visible;
}

.tooltip .tooltip-text-bottomsss {
    width: 200px;
    font-size: 15px;
    background: rgb(31, 31, 31);
    color: white;
    padding: 2px;
    border: 1px solid white;
    position: absolute;
    top: 30px;
    left: 105px;
    visibility: hidden;
}

.tooltip:hover .tooltip-text-bottomsss {
    visibility: visible;
}

.tabs__container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    gap: 10px;
    top: 20px;
    left: 15px;
    font-size: 15px;
}

.line {
    display: flex;
    position: absolute;
    top: 50px;
    width: 650px;
    border-top: 0.5px solid rgb(56, 58, 63);
}

#ladnos1 {
    color: white;
    font-weight: 600;
}

#ladnos2 {
    color: white;
    font-weight: 600;
}

#ladnos3 {
    color: white;
    font-weight: 600;
}

#ladnos1:hover {
    border-bottom: 2px solid rgb(255, 255, 255) ;
    padding-bottom: 10px;
    z-index: 1;
}

#ladnos2:hover {
    border-bottom: 2px solid rgb(255, 255, 255) ;
    padding-bottom: 10px;
    z-index: 1;
}

#ladnos3:hover {
    border-bottom: 2px solid rgb(255, 255, 255) ;
    padding-bottom: 10px;
    z-index: 1;
}

.tab__content{
    display: flex;
    position: relative;
    top: 50px;
}

.active-bar {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.tab__title {
    cursor: pointer;
    
    &:hover {
        display: flex;
        border-bottom: 2px solid rgb(255, 255, 255) ;
        padding-bottom: 10px;
    }
}


.hidden{
    display: none;
}

.text-info1 {
    display: inline-block;
    width: 600px;
    position: absolute;
    line-height: 4ch;
    text-align: left;
    left: 20px;
    top: 15px;
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

.telegram {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 260px;
    left: 2px;
}

.telegram img {
    display: flex;
    margin-right: 5px;
    height: 25px;
}

.telegram-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.telegram-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.lolz {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 160px;
    top: 30px;
    left: 33px;
}

.lolz img {
    display: flex;
    margin-right: 8px;
    height: 25px;
}

.lolz-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.lolz-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.spotify {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    width: 260px;
    top: 60px;
    left: 38px;
}

.spotify img {
    display: flex;
    margin-right: 10px;
    height: 20px;
}

.spotify-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.spotify-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.vscode {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 360px;
    left: 25px;
}

.vscode img {
    display: flex;
    margin-right: 8px;
    height: 25px;
}

.vscode-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.vscode-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.gimp {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    width: 360px;
    top: 30px;
    left: 32px;
}

.gimp img {
    display: flex;
    margin-right: 5px;
    height: 25px;
}

.gimp-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.gimp-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.google {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    width: 700px;
    top: 90px;
    left: 33px;
}

.google img {
    display: flex;
    margin-right: 8px;
    height: 20px;
}

.google-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.google-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.webstorm {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    width: 700px;
    top: 119px;
    left: 33px;
}

.webstorm img {
    display: flex;
    margin-right: 5px;
    height: 20px;
}

.webstorm-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.webstorm-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.chatgpt {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    width: 700px;
    top: 59px;
    left: 32px;
}

.chatgpt img {
    display: flex;
    margin-right: 5px;
    height: 25px;
}

.chatgpt-text {
    color: rgb(204, 204, 193);
    margin-right: 5px;
}

.chatgpt-texts {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.code1 {
    position: relative;
    top: 8px;
    left: 8px;
    height: 30px;
    width: 30px;
}

.code2 {
    position: relative;
    top: 8px;
    left: 8px;
    height: 25px;
    width: 25px;
}

.code3 {
    position: relative;
    top: 8px;
    left: 2px;
    height: 25px;
    width: 25px;
}
